{% extends 'base.html.twig' %}

{% block title %}Forum des métiers - Atelier
	{{ workshop.name }}
{% endblock %}

{% set remainingSeats = workshop.room.capacityMaximum - workshop.students|length %}

{% block body %}
	<div class="container">
		<div class="position-sticky top-0 bg-white z-1 py-4">
			<div class="row">
				<div class="col">
					<a href="{{ path('home.index') }}">Accueil</a>
					>
					<a href="{{ urlReferer }}">Liste des ateliers</a>
					>
					{{ workshop.name }}</div>
			</div>
			<div class="row justify-content-between align-items-center mt-4">
				<div class="col-auto">
					<h1>Atelier ”{{ workshop.name }}”</h1>
				</div>
				<div class="col-auto">
					{% if isOpened %}
						{% if isUserEnrolled %}
							<a href="{{ path('workshop-registration.unregister', {'id': workshop.id})}}" class="btn btn-danger btn-lg px-4 me-md-2 fw-bold">Je me désinscrit de cet atelier</a>
						{% else %}
							{% if remainingSeats <= 0 %}
								<a href="#" class="btn btn-danger btn-lg px-4 me-md-2 fw-bold">Complet 😭</a>
							{% else %}
								<a href="{{ path('workshop-registration.register', {'id': workshop.id})}}" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Je m'inscrit à cet atelier !</a>
							{% endif %}
						{% endif %}
					{% else %}
						<a href="#" class="btn btn-success btn-lg px-4 me-md-2 fw-bold">Terminé ✅</a>
					{% endif %}

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>Informations</h2>
				<table class="table table-striped">
					<tbody>
						<tr>
							<th scope="row">Nom</th>
							<td class="col-10">{{ workshop.name }}</td>
						</tr>
						<tr>
							<th scope="row">Description</th>
							<td>{{ workshop.description }}</td>
						</tr>
						<tr>
							<th scope="row">Métiers</th>
							<td>
								<div class="d-flex flex-wrap">
									{% for job in workshop.jobs %}
										<div class="card border-success m-2" style="max-width: 20rem;">
											<div class="card-header">{{ job.name }}</div>
											<div class="card-body">
												<h4 class="card-title h5">Activités</h4>
												{% for activity in job.activities %}
													<span class="badge bg-info">{{ activity.name }}</span>
												{% endfor %}
												<h4 class="card-title h5">Compétences</h4>
												{% for skill in job.skills %}
													<span class="badge bg-success">{{ skill.name }}</span>
												{% endfor %}
											</div>
										</div>
									{% endfor %}
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">Secteur</th>
							<td>
								<div class="d-flex flex-wrap">
									<div class="card border-info m-2" style="max-width: 20rem;">
										<div class="card-header">{{ workshop.sector.name }}</div>
										<div class="card-body">
											<p class="card-text">{{ workshop.sector.description}}</p>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th scope="row">Nombre de places</th>
							<td>
								<span class="badge bg-primary rounded-pill">{{ workshop.room.capacityMaximum }}</span>
							</td>
						</tr>
						<tr>
							<th scope="row">Places restantes</th>
							<td>
								{% if isOpened %}
									{% if remainingSeats <= 0 %}
										<span class="badge bg-danger">Complet 😭</span>
									{% else %}
										<span class="badge bg-primary rounded-pill">{{ remainingSeats }}</span>
									{% endif %}
								{% else %}
									<span class="badge bg-success">Terminé ✅</span>
								{% endif %}

							</td>
						</tr>
						<tr>
							<th scope="row">Date</th>
							<td>{{ workshop.startAt|date('d/m/Y') }}</td>
						</tr>
						<tr>
							<th scope="row">Heure</th>
							<td>{{ workshop.startAt|date('H:i') }}</td>
						</tr>
						<tr>
							<th scope="row">Durée</th>
							<td>{{ workshop.duration }}</td>
						</tr>
						<tr>
							<th scope="row">Lieu</th>
							<td>{{ workshop.room.name }}</td>
						</tr>
						<tr>
							<th scope="row">Intervenant{{ (workshop.speakers|length > 1) ? 's' }}</th>
							<td>
								{% for speaker in workshop.speakers %}
									{{ speaker.user.firstname }}
									{{ speaker.user.lastname }}
									<br>
								{% else %}
									<span class="badge bg-warning">Pas encore d'intervenant de désigné</span>
								{% endfor %}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row mt-4">
			<div class="col">
				<div class="d-flex">
					<h2>Participants</h2>
					<p class="ms-2">
						<span class="badge bg-primary rounded-pill">{{ workshop.students|length }}
							/
							{{ workshop.room.capacityMaximum }}</span>
					</p>
				</div>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Nom</th>
								<th scope="col">Prénom</th>
								<th scope="col">Ecole</th>
							</tr>
						</thead>
						<tbody>
							{% for student in workshop.students %}
								<tr>
									<td>{{ student.user.lastname }}</td>
									<td>{{ student.user.firstname }}</td>
									<td>{{ student.school.name }}</td>
								</tr>
							{% else %}
								<tr>
									<td class="table-warning" colspan="3">Personne n'est inscrit sur cet atelier</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row mt-4">
			<h2>Ressources</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">Description</th>
						<th scope="col">Télécharger</th>
					</tr>
				</thead>
				<tbody>
					{% for resource in workshop.resources %}
						<tr class="align-middle">
							<td>
								<div class="row">
									<div class="col-2"><img src="/img/pdf.png" alt="pdf file" width="20px"></div>
									<div class="col-10">{{ resource.name }}</div>
								</div>
							</td>
							<td>{{ resource.description }}</td>
							<td class="align-middle">
								<a class="btn btn-success" href="{{ resource.url }}" target="_blank">
									<i class="fa-solid fa-download"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td class="table-warning" colspan="3">Pas de resources fournies</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="row mt-4 mb-4">
			<div class="col">
				<a href="{{ urlReferer }}" class="btn btn-secondary">Retour aux ateliers</a>
			</div>
		</div>
	</div>
{% endblock %}
