{% extends 'base.html.twig' %}

{% block title %}UserAnswer{% endblock %}

{% block body %}
    <h1>UserAnswer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_answer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user_answer.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_answer.index') }}">back to list</a>

    <a href="{{ path('user_answer.edit', {'id': user_answer.id}) }}">edit</a>

    {{ include('pages/admin/user_answer/_delete_form.html.twig') }}
{% endblock %}
