{% extends 'base.html.twig' %}

{% block title %}UserAnswer index{% endblock %}

{% block body %}
    <h1>UserAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_answer in user_answers %}
            <tr>
                <td>{{ user_answer.id }}</td>
                <td>{{ user_answer.name }}</td>
                <td>
                    <a href="{{ path('app_user_answer_show', {'id': user_answer.id}) }}">show</a>
                    <a href="{{ path('app_user_answer_edit', {'id': user_answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_answer_new') }}">Create new</a>
{% endblock %}
